#logo {
    width: 20vw; /* Logo width as a percentage of the viewport width */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Keep position absolute */
    top: 10px; /* Space from the top */
    left: 10px; /* Space from the left */
    max-width: 200px; /* Maximum width of the logo */
}

/* Adjust logo size for smaller screens */
@media (max-width: 768px) {
    #logo {
        width: 20vw; /* Smaller logo on smaller screens */
        top: 5px; /* Less space from the top */
        left: 5px; /* Less space from the left */
        max-width: 100px; /* Adjust maximum width for small devices */
    }
}

/* Tüm sayfa için arkaplan rengini ayarlar */
body {
    background-color: #F5F5F5;
    /* Açık gri tonu */
    margin: 0;
    /* Varsayılan marjları kaldırır */
    padding: 0;
    /* Varsayılan padding'leri kaldırır */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

/* HTML elementi için tam genişlik ve yükseklik ayarlar */
html {
    height: 100%;
    width: 100%;
    
}

/* Uygulamanın ana container'ı için stil tanımı */
#root {
    min-height: 100%;
    /* Root div'in sayfa yüksekliğini kaplamasını sağlar */
    display: flex;
    flex-direction: column;
    
}

.main-title {
    font-size: 2em;
    /* Başlık boyutunu büyüt */
    color: #2C3E50;
    /* Başlık rengi */
    margin-bottom: 0.5em;
    /* Alt boşluk */
}

.description {
    font-size: 1.2em;
    /* Açıklama metni boyutu */
    color: #34495E;
    /* Açıklama metni rengi */
    margin-bottom: 2em;
    /* Alt boşluk */
}

